* {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
           
              font-family: 'Montserrat', sans-serif;
            
           
      }

      
    body{
        margin: 0;
        padding: 0;
    }
.secondry{
    background-image: url(./www.havafix.com_files/neonbrand-60krlMMeWxU-unsplash.jpg);
   height: 500px;
background-size: cover;
position:relative;
 

    }
     
   nav{
       margin:0 50px 0 0;
      float: right;
}

    nav ul a{
        text-decoration: none;
        color: ivory;
        transition: transform 0.3s ease-out;
     
    }
    nav ul a :hover{
        color: white;
        font-size:20px;
        transform: translateY(4px);
    }
    nav ul li{
        display: inline;
        margin-left:2em;
        
       
    }
   nav ul{
    display: flex;
        align-items: center;
   }
   .servicebox{
    background-color: ivory;
    text-transform: capitalize;

   }

   .services{
       background:ivory;
    position: absolute;;
    top: 30%;
    left: 30%;
   width: 40%;
text-align: center;
padding: 20px;
border-radius: 68px;
height: 300px;

}
.services span{
    margin-bottom: 10px;
   
}
   .serviceImage img{
     background-color: #eaebea;
     border-radius: 50%;
     padding: 15px;
     margin:  10px;
     

   }
   .serviceImage{
       margin-top: 30px;
       margin-bottom: -10px;
   }
   .qualified{
       margin-top:80px;
       display: flex;
       justify-content: space-around;
       padding:0 20px ;
       margin-bottom: 80px;

   }
   .qualified a{
    text-decoration: none;
    font-size: 15px;
   }

   .pros{
       border-right: 1px solid black;
       border-left: 1px solid black;
       padding: 20px 100px;
       text-align: center;
   }

   .prons{
    padding: 20px;
    text-align: center;
   }
   .cons{
       padding: 20px;
       text-align: center;
   }
   .qualified a{
       color: blue;
   }


   .work{
       background-image: url(./www.havafix.com_files/jeshoots-com-VdOO4_HFTWM-unsplash.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       height:500px;
       display: flex;
       padding: 10px 20px;
    
       align-items: center;
    justify-content: center;
   
   }
.works{
    background:#2dbbfede;
    opacity: 0.9;
  
text-align: center;
padding: 30px;
border-radius: 68px;
height: auto;
}
.worksImage{
display: flex;

list-style-type: none;
padding: 20px;
margin-top: 50px;
}
.worksImage li{
    padding: 10px 0px;
}
.worksImage hr{
    width:40px;
    margin: 20px;

    
}
.works span{
    color: white;
    font-size: 25px;
    margin-top: 30px;
}
.trust{
    background-image: url(./www.havafix.com_files/toa-heftiba-_UIVmIBB3JU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    text-align: center;
    display: flex;
    padding: 10px 20px;
 flex-direction: column;
    align-items: center;
 justify-content: center;
 
}
.trust h1{
color: white;
 
}
.investigation{
    background:#2dbbfede;
    opacity: 0.9;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    max-width:300px;
    max-height: 300px;

  
}
.clear{
    background:#2dbbfede;
    opacity: 0.9;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
   
    max-width:300px;
    max-height: 300px;
}


.boxCase{
  
  
    display: flex;
    justify-content: center;
}
.boxCase h5,a,p{
    color: white;
}



.ourservices ul li ,a{
    color: white;
    list-style-type: none;
    text-decoration:none;
}

.footer{
    background:#2dbbfede;
    margin-top: 50px;
   

}
.footerColoum{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.btn{
    margin-top: 50px;
    padding: 10px 40px;
    border-radius: 45%;
    cursor: pointer;

}
.carousel-cell {
    width: 100%; /* full width */
    height: 500px; /* height of carousel */
    text-align: center;
  }
  
  .main-carousel{
align-content: center;
padding-top: 10px;
 }
  
      
       
@media(max-width:700px)
{

.footerColoum{
    flex-direction: column;

    
}
.signin{
    margin-left: 40px;
}
.carousel-cell {
    width: 100%; /* full width */
    height: 200px; /* height of carousel */
    text-align: center;
    
  }


    .main-carousel{
    align-content: center;
    padding-top: 50px;
    max-width: 100%;
    max-height: 600px;
    text-align: center;
}
      

      
.carousel-cell img{
 width: 40%;
 height: 60%;
 align-content: center;
}
    

.flickity-page-dots{
    visibility: hidden;
}
}
