body,
html {
    font-family: 'HelveticaNeue';
    color: #000;
    height: 100%;
    overflow-x: hidden;
}
/* font family  */

@font-face {
    font-family: HelveticaNeueMedium;
    src: url(../font/HelveticaNeueMedium.ttf);
}
@font-face {
    font-family: HelveticaNeueThin;
    src: url(../font/HelveticaNeueThin.ttf);
}
@font-face {
    font-family: HelveticaNeueIt;
    src: url(../font/HelveticaNeueIt.ttf);
}
@font-face {
    font-family: HelveticaNeueLt;
    src: url(../font/HelveticaNeueLt.ttf);
}
/* font family */

#page-top {
    overflow-x: hidden;
}
.navbar-dark .navbar-nav .nav-link {
    color: #000;
}
.icon i {
    padding: 10px;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../image/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form-signin {
    /*width: 100%;*/
    margin: 0 auto;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 68px;
    padding: 40px 15px;
    height: 230px;
    margin-top: 18% !important;
}
.form-signin h1 {
    font-size: 16px;
    color: #616161;
    font-weight: 100;
    margin-top: 0%;
    padding-bottom: 38px;
}
.deep-purple {
    background-color: #181324;
}
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all .4s ease 0s;
    transform: translateX(250px);
    background: #34beff;
    border-left: 1px solid rgba(255, 255, 255, .1)
}
.sidebar-nav {
    list-style: none;
    margin: 10% auto;
    display: table;
}
.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-family: HelveticaNeueLt;
    font-weight: bold;
    letter-spacing: 0.03em;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none
}
.sidebar-nav>.sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, .1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px
}
.sidebar-nav>.sidebar-brand a {
    color: #fff
}
.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: 0 0
}
#sidebar-wrapper.active {
    right: 250px;
    width: 100%;
    transition: all .4s ease 0s;
    z-index: 99;
}
.menu-toggle {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #000;
    background: none;
    line-height: 50px;
    z-index: 999;
}
.fa-times:before {
    content: "\f00d";
    color: #fff;
}
.nav-link {
    color: black;
}
.navigation {
    list-style: none;
    display: flex;
    float: right;
    margin-right: 62px;
    margin-top: 17px;
}
.nav-pills .nav-link.active {
    background-color: #34beff;
    border-radius: 50px;
}
.form-control-lg {
    border-radius: 50rem !important;
    border: none;
    text-align: center;
    font-weight: 300;
}
.form-control:focus {
    border: none;
    box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled):active,
.btn-info {
    border-radius: 50rem !important;
    background-color: #000000;
}
.form-control::-webkit-input-placeholder {
    color: #bbb;
}
/* Rounded tabs */

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}
@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
        height: 50px;
        line-height: 30px;
    }
}
.footers {
    background-color: #171324;
    padding: 60px 0;
    color: #fff;
}
.footers .nav-link {
    color: #fff;
    padding: 10px 35px;
    font-family: HelveticaNeueMedium;
    letter-spacing: 0.04em;
    font-size: 14px;
}
.cancel a {
    color: #000;
    text-decoration: underline;
    line-height: 36px;
}
.bgs {
    background-color: rgba(52, 190, 255, 0.77);
    color: #fff;
    border-radius: 70px;
    padding: 38px 0;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}
.fa-times:before {
    font-size: 20px;
}
.form-signin ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-left: -5%;
}
.form-signin li {
    display: inline-block;
    background-color: #ebebeb;
    margin: 0px 0px 0px 25px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 78px;
}
.form-signin input[type="checkbox"][id^="myCheckbox"] {
    display: none;
}
.form-signin label {
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.form-signin label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -23px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}
.form-signin label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    width: 37%;
    margin: 0 auto;
    display: block;
}
}
.form-signin:checked+label {
    border-color: #ddd;
}
.form-signin:checked+label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}
.form-signin:checked+label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}
.bca {
    background-image: url(../image/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 54% 100%;
}
textarea.form-control {
    height: auto;
    border-radius: 14px !important;
    line-height: 54px;
    vertical-align: middle;
    display: block;
}
/*css-start-lukman***/

.lk-img-booking {
    background-image: url('../image/bg-book.png');
    background-size: cover;
}
.lk-img {
    background-image: url('../image/bg-home.hero.png');
    background-size: cover;
    background-position: 100% 0;
}
.lk-qualified {
    padding: 10%;
    text-align: center;
}
.lk-qualified .inner {
    border-right: 1px solid #000;
}
.lk-qualified p {
    color: #2AACFF;
    font-weight: 100;
    text-decoration: underline;
    margin: 5px 0;
    letter-spacing: 0.03em;
    font-size: 15px;
}
.lk-imge-2 {
    background-image: url('../image/bg-home.section-3.png');
    background-size: cover;
    background-position: 100% 100%;
}
.form-work {
    width: 100%;
    padding: 15px;
    left: 3%;
    margin: 0px auto;
    background-color: #2dbbfede;
    border-radius: 41px;
}
.form-work h1 {
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
}
.lk-text li {
    float: left;
    position: relative;
}
.lk-text .my-lk-a h6::before {
    content: '';
    position: absolute;
    background: white;
    height: 2px;
    width: 56px;
    left: 77px;
    top: 37px;
}
.lk-text .my-lk-b h6::before {
    content: '';
    position: absolute;
    background: white;
    height: 2px;
    width: 56px;
    left: 72px;
    top: 39px;
}
.lk-text .my-lk-c h6::before {
    content: '';
    position: absolute;
    background: white;
    height: 2px;
    width: 56px;
    left: 72px;
    top: 39px;
}
.form-work ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}
.form-work h6 {
    color: white;
}
.form-work h5 {
    font-size: 12px;
    color: white;
}
.form-work li {
    display: inline-block;
    text-align: center;
    margin: 15px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    line-height: 70px;
}
.lk-imge-3 {
    background-image: url(../image/chris-liverani-9cd8qOgeNIY-unsplash.png);
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12%;
}
.lk-box {
    text-align: center;
    padding: 2% 0 6% 0;
    background-color: #2dbbfede;
    border-radius: 11px;
    margin-right: 2%;
    padding: 23px 20px;
}
.lk-box img {
    margin-top: 5%;
    width: 12%;
}
.lk-box-2 img {
    margin-top: 5%;
    width: 12%;
}
.lk-box p {
    font-size: 13px;
    text-align: center;
    color: #ffffffc7;
    margin: 0px;
    padding: 0 15px;
    font-family: HelveticaNeueLt;
}
.lk-box-2 {
    text-align: center;
    padding: 15px;
    background-color: #2dbbfede;
    border-radius: 11px;
}
.lk-box-2 {
    /*margin-right: 25%;*/
    text-align: center;
    padding: 23px 20px;
}
.lk-box h1 {
    color: white;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 10%;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.lk-box-2 h1 {
    color: white;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 10%;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.lk-box-2 p {
    font-size: 13px;
    text-align: center;
    color: #ffffffc7;
}
.trust-read {
    color: white;
    font-size: 14px;
    letter-spacing: 0px;
    text-decoration: underline;
}
.lk-imge-3 h4 {
    color: white;
    top: 75px !important;
    /*left: 101%;*/
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 700;
}
.lk-macbook {
    text-align: center;
    padding-bottom: 15%;
    margin-top: 6%;
}
.lk-linner {
    position: relative;
    width: 50%;
    overflow: hidden;
    padding-bottom: 7%;
    margin-top: 3%;
    margin-left: 25%;
}
.lk-slid {
    background-color: #bd2130;
}
/*.
lk-imge-4{
   background-image: url('../image/img-macbook.png');
  background-size: cover;
    background-position: center;

}*/

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: darkgray;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.text-1 {
    position: absolute;
    top: 38%;
    left: 11%;
    font-size: 12px;
}
.text-2 {
    position: absolute;
    top: 40%;
    left: 12%;
    font-size: 12px;
}
.text-3 {
    position: absolute;
    top: 41%;
    left: 17%;
    font-size: 12px;
}
.text-4 {
    position: absolute;
    top: 41%;
    left: 11%;
    font-size: 11px;
}
.py-5 p {
    font-size: 17px;
    color: #797979;
    margin-top: 12%;
}
.lk-button {
    /*width: 803px;*/
    background-color: #ededed;
    border-radius: 50px;
    margin: 0 auto;
}
.lk-button li {
    width: 126.6px;
    text-align: center;
}
.btn-outline-success {
    color: #000000;
    /* border-color: #28a745; */
    border-radius: 50px;
    border: none;
}
.lk-box-Affiliate img {
    float: left;
    margin-top: 2%;
    width: 18px;
    margin-left: 1%;
}
.lk-box-Affiliate {
    background-color: black;
    /*width: 803px;*/
    height: 60px;
    margin: 0 auto;
    margin-top: 5%;
}
.lk-box-Affiliate h5 {
    letter-spacing: 1px;
    font-size: inherit;
}
.lk-box-Affiliate-1 {
    background-color: #ededed;
    width: 803px;
    height: 360px;
    margin: 0 auto;
}
.lk-becom {
    text-align: -webkit-center;
}
.lk-becom h6 {
    background-color: #34beff;
    border-radius: 50px;
    width: 50%;
    /* height: 50px; */
    color: white;
    font-size: smaller;
    line-height: 29px;
}
.lk-job-1 h6 {
    background-color: #ededed;
    border-radius: 50px;
    width: 37%;
    /* height: 50px; */
    color: black;
    font-size: smaller;
    line-height: 29px;
}
.lk-job {
    text-align: -webkit-center;
}
.lk-month a {
    margin: 0 34px;
    font-weight: 100;
}
.badge-light {
    color: #212529;
    background-color: #ffffff;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    margin: 10px 20px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.lk-lorem {
    text-align: -webkit-center;
}
.lk-lorem p {
    text-align: center;
    width: 60%;
    font-size: 14px;
    color: #6b6b6b;
}
.lk-chat-center {
    margin: 0 auto;
}
.lk-round {
    border-radius: 20px;
}
.lk-round p {
    margin-top: 0px;
    font-size: 14px;
    text-align: left;
}
.lk-bg {
    background-color: #ededed;
}
.lk-messages {
    background-color: #ededed;
}
.lk-messages a {
    background-color: #ededed;
    border: none;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #ededed;
    border-color: #ededed;
}
.lk-active {
    color: #018ccd;
}
.lk-type {
    border: 1px solid;
    border-radius: 50px;
    margin-top: -2%;
    color: #ededed;
}
.lk-type input {
    background: none !important;
}
.lk-col {
    width: 550px !important;
    border: 10px solid #ededed;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .0) !important;
}
.lk-Submitted h6 {
    margin-top: 10%;
}
.lk-box-Submitted-1 {
    background-color: #34beff;
    width: 100% !important;
    height: 360px;
    margin: 0 auto;
    color: white;
}
.lk-box-Submitted-2 {
    background-color: #ededed;
    width: 100% !important;
    height: 360px;
    margin: 0 auto 15% auto;
    color: white;
}
.lk-box-Submitted-2 .lk-job-button button {
    border: none;
    border-radius: 50px;
    margin: 0px 21px;
    background-color: #34beff;
    color: #fff;
    height: 40px;
    width: auto;
    padding: 10px 20px;
    letter-spacing: 0.03em;
}
.lk-witdh {
    margin: 0 auto;
}
.lk-quotes {
    line-height: 31px;
    background-color: #34beff;
    font-size: x-large;
    text-align: center;
    height: 120px;
    color: white;
    border-radius: 10px;
    float: left;
}
.lk-quotes h1 {
    font-size: unset;
    margin-top: 11%;
    padding: 9%;
}
.my-pt {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.lk-gathering,
.job-list {
    height: 70px;
    margin: 0 auto;
    background: #000;
}
.lk-gathering h5,
.job-list h5 {
    font-size: 1em;
    letter-spacing: 0.05em;
}
/*.lk-part-4{
    background-color: #343a40;
    margin: 0 auto;
}*/

.bg-button .btn:hover {
    background-color: #34beff;
    border-radius: 50px;
    color: white;
}
.bg-box {
    background-color: #34beff !important;
    height: 360px;
    width: 100%
}
.bg-box p {
    margin-top: 18% !important;
}
.bg-box-1 {
    background-color: #34beff !important;
    width: 100%
}
.bg-box-dark {
    background-color: #ebebeb !important;
    color: black !important;
}
.lk-lock {
    text-align: -webkit-center !important;
}
.lk-lock h6 {
    color: #424242;
}
.lk-lock h5 {
    margin-bottom: .5rem;
    font-weight: 100;
    background-color: #29b8ff;
    width: 70%;
    height: 43px;
    border-radius: 50px;
    line-height: 38px;
    color: white;
    font-size: inherit;
}
.lk-part h6 {
    font-size: small;
    background-color: #ededed;
    color: black;
    margin-top: 4% !important;
    border-radius: 50px;
    width: 40%;
    margin: 0 auto;
}
.payment-dashbaord-option .lk-Submit {
    background-color: white;
    color: darkgrey;
    margin: 20px 0;
    border-radius: 8px;
}
.lk-Submit h6 {
    text-align: left;
    font-size: 14px;
    margin-left: 4%;
    margin-top: 3%;
}

.payment-dashbaord-option  .lk-Submit h6 {
    font-size: 14px;
    margin-left: 4%;
    margin-top: 3%;
    padding: 3em 0;
    text-align: center;
}


.lk-lorem p {
    margin-top: 1% !important;
}
/* .lk-Submit-button button {
	position: absolute;
	left: 41%;
	top: 68%;
	width: 20%;
	border-radius: 50px;
} */
.btn-info:hover {
    background-color: #34beff;
}
.lk-gathering img {
    float: left;
    margin-top: 20px;
}
.lk-cancel h1 {
    font-size: 15px;
    color: white;
    font-family: HelveticaNeueMedium;
    letter-spacing: 0.03em;
}
/* .lk-no-button {
	text-align: center;
	position: relative;
	top: 51%;
} */

.lk-no-button button {
    border: none;
    border-radius: 50px;
    margin: 20px;
    background-color: white;
    color: black;
    height: 40px;
    width: 110px;
    PADDING: 0 30PX;
    letter-spacing: 0.03em;
}
.lk-job-details {
    position: relative;
    top: 5%;
}
.lk-job-details h1 {
    font-size: 15px;
    color: white;
    font-weight: 100;
    line-height: 27px;
}
.lk-job-button {
    text-align: center;
    position: relative;
    top: 9%;
}
.lk-job-button button {
    border: none;
    border-radius: 50px;
    margin: 0px 21px;
    background-color: white;
    color: black;
    height: 40px;
    width: auto;
    padding: 10px 20px;
}
.lk-4 {
    height: 69px;
}
.lk-4 p {
    float: left;
    width: 14%;
    color: white;
    line-height: 69px;
    font-weight: 100;
}
.lk-part-4 h6 {
    font-size: small;
    background-color: #ededed;
    color: black;
    margin-top: 4% !important;
    border-radius: 50px;
    width: 100%;
    text-align: initial;
    line-height: 31px;
    margin: 0px auto;
}
.lk-4-1 {
    margin-left: -9%;
}
.lk-4-1 p {
    color: black;
    text-align: initial;
    font-size: inherit;
    margin-left: 59px;
    float: left;
}
.lk-4-2 {
    height: 50px;
    align-items: flex-end;
    border-radius: 50px;
    background-color: #ededed !important;
}
.lk-clock img {
    margin: 15px auto;
    align-items: center;
    display: flex;
    line-height: 1.3em;
    width: 17%;
}
.lk-Affiliate {
    background-color: white;
    /* height: 120px; */
    border-radius: 30px;
}
.lk-Affiliate h1 {
    font-size: 14px;
    text-align: center;
    padding: 9%;
    line-height: 23px;
    color: #464646;
    letter-spacing: 0.03em;
}
.lk-bg-box {
    background-color: #34beff !important;
    height: 500px;
    width: 100%;
    border-radius: 30px
}
.lk-bg-box p {
    font-size: 15px;
    width: 71%;
    line-height: 30px;
    margin: 0 auto !important;
}
.lk-bg-Benefits {
    background-color: #34beff !important;
    width: 100%;
    border-radius: 30px
}
.lk-bg-Benefits p {
    /*font-size: medium; */
    font-size: 14px;
}
.lk-drop {
    margin-top: -13%;
}
.lk-drop button {
    color: black;
    background-color: white !important;
    border: none;
    width: 100%;
    font-size: 15px;
    height: 50px;
    border-radius: 50px;
}
.lk-book-img {
    background-image: url('../image/bg-book.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-image: url('../image/chris-liverani-9cd8qOgeNIY-unsplash.png');*/
    height: auto;
}
.btn-secondary.focus,
.btn-secondary:focus {
    /*color: #fff;*/
    /*background-color: #5a6268;*/
    /*border-color: #545b62;*/
    /*box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);*/
    color: black;
}
.btn-secondary:hover {
    color: black;
    /* background-color: #5a6268;
    border-color: #545b62*/
}
.show>.btn-secondary.dropdown-toggle {
    color: black;
    /*background-color: #545b62;*/
    /*border-color: #4e555b*/
}
.lk-confirm {
    width: 80%;
    font-size: smaller;
    margin: 0 auto;
}
.lk-payment h5 {
    font-size: 17px;
}
.form-control-lg-p {
    border-radius: 50rem !important;
    border: none;
    text-align: center;
    font-weight: 300;
    height: 40px;
    line-height: 54px;
}
.lk-booked h5 {
    font-size: 14px;
}
.lk-booked {
    width: 69%;
    margin: 0 auto;
}
.lk-confirm h5 {
    margin: 20px!important;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}
.dash-booking h3 {
    font-size: 1em;
}
.cancel-policy {
    letter-spacing: 0.04em;
    text-decoration: underline;
}
.lk-login {
    background-color: #34beff;
    border-radius: 50px;
    color: white;
    border-radius: 29px;
    font-size: 1em;
    padding: .675rem 3rem;
    letter-spacing: 0.03em;
}
.lk-jobs p {
    font-size: 14px;
    margin: 12px 10px;
}
@media only screen and (min-width: 361px) and (max-width: 420px) {
    .lk-box {
        width: 100% !important;
        margin: 0 auto;
    }
    .lk-imge-3 {
        text-align: -webkit-center;
    }
    .lk-box-2 {
        width: 100%;
        margin: 0 auto;
    }
    .lk-imge-3 h4 {
        font-size: 24PX;
        position: relative;
        /*left: 30%;*/
        top: 11px;
    }
    .trust {
        padding-bottom: 4%;
        width: 100%;
    }
    .lk-linner {
        width: 91%;
        margin: 0 auto;
    }
    .lk-text .my-lk-a h6::before {
        left: 99px;
        width: 46px;
        background-color: none;
    }
    .lk-text .my-lk-b h6::before {
        left: 99px;
        width: 46px;
        background-color: #3cc0fb;
    }
    .lk-text .my-lk-c h6::before {
        width: 46px;
        left: 99px;
        background-color: none;
    }
    .form-signin ul {
        display: contents;
    }
    .form-signin li {
        margin: 0px 32px 19px 25px;
    }
    .lk-img {
        /* height: 740px !important; */
    }
    .form-work li {
        margin-left: 15%;
    }
    .form-work ul {
        display: contents;
    }

}
@media only screen and (min-width: 421px) and (max-width: 480px) {
    .lk-box {
        width: 100% !important;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 {
        text-align: -webkit-center;
    }
    .lk-box-2 {
        width: 100%;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 h4 {
        font-size: 24PX;
        position: relative;
        /*left: 30%;*/
        top: 11px;
    }
    .trust {
        padding-bottom: 4%;
        width: 100%;
    }
    .lk-linner {
        width: 91%;
        margin: 0 auto;
    }
    .lk-text .my-lk-a h6::before {
        left: 99px;
        width: 46px;
        background-color: none;
    }
    .lk-text .my-lk-b h6::before {
        left: 99px;
        width: 46px;
        background-color: #3cc0fb;
    }
    .lk-text .my-lk-c h6::before {
        width: 46px;
        left: 99px;
        background-color: none;
    }
    .form-signin {
        height: 380px;
        text-align: center;
    }
    .form-signin ul {
        display: contents;
    }
    .form-signin li {
        margin: 0px 32px 19px 25px;
    }
    .form-work li {
        margin-left: 15%;
    }
    .form-work ul {
        display: contents;
    }
}
@media only screen and (min-width: 481px) and (max-width: 620px) {
    .lk-box {
        width: 100% !important;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 {
        text-align: -webkit-center;
    }
    .lk-box-2 {
        width: 100%;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 h4 {
        font-size: 24PX;
        position: relative;
        /*left: 30%;*/
        top: 11px;
    }
    .trust {
        padding-bottom: 4%;
        width: 100%;
    }
    .lk-linner {
        width: 91%;
        margin: 0 auto;
    }
    .form-signin {
        height: 380px;
        text-align: center;
    }
    .form-signin ul {
        display: contents;
    }
    .form-signin li {
        margin: 0px 32px 19px 25px;
    }
    .col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .lk-text .my-lk-a h6::before {
        width: 46px;
        left: 55px;
    }
    .lk-text .my-lk-b h6::before {
        width: 46px;
        left: 53px;
    }
    .lk-text .my-lk-c h6::before {
        width: 46px;
        left: 52px;
    }
}
@media only screen and (max-width: 568px) {
    .lk-box {
        width: 100% !important;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 {
        text-align: -webkit-center;
    }
    .lk-box-2 {
        width: 100%;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 h4 {
        font-size: 24PX;
        /* position: relative; */
        /*left: 30%;*/
        top: 11px;
    }
    .trust {
        padding-bottom: 4%;
        width: 100%;
    }
    .lk-linner {
        width: 91%;
        margin: 0 auto;
    }
    .lk-text .my-lk-a h6::before {
        left: 99px;
        width: 46px;
        background-color: none;
    }
    .lk-text .my-lk-b h6::before {
        left: 99px;
        width: 46px;
        background-color: #3cc0fb;
    }
    .lk-text .my-lk-c h6::before {
        width: 46px;
        left: 99px;
        background-color: none;
    }
    .form-signin {
        height: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .form-signin ul {
        display: contents;
    }
    .form-signin li {
        margin: 0px 32px 19px 25px;
    }
    .lk-img {
        height: auto !important;
    }
    .form-work li {
        display: inline-block;
        text-align: center;
        margin: 15px;
        border-radius: 50%;
        width: 49%;
        height: 100%;
        margin: 9px 0px!important;
    }
    .form-work ul {
        display: contents;
    }
    .lk-text .my-lk-a h6::before,
    .lk-text .my-lk-c h6::before,
    .lk-text .my-lk-b h6::before {
        display: none;
    }
    .contact_us textarea.form-control {border-radius: 4px;}
    .lk-bg-Benefits {padding: 10px!important;}
    .bgs { border-radius: 10px; padding: 8px 19px; }
    #dashbaord-tabs ul#myTabMD li { margin: 10px; width: 125.6px;}
    ul#myTabMD, #dashbaord-tabs .nav-tabs {background: none; border: none;}
    .dashbaord-chat .left-section {
        padding: 20px 10px;
    }
    #review-md .reviews-tabs {
        padding: 20px 0px!important;
    }

    .lk-box-Submitted-2 .lk-job-button button {font-size: 11px;}
    .dash-booking .lk-box-Submitted-4 {padding: 40px 0!important;}
    .lk-confirm {width: 100%;}
    .collect .gathering-box { margin:10px 0; }
    .collect .gathering-box p {
        margin: 0px 10px!important;
    }
    .informative p {
        font-size: 13px!important;
        line-height: 1.7;
    }
    .informative img {
        vertical-align: middle;
        border-style: none;
        width: 24%;
        margin: 20px auto;
        display: block;
    }

    .job-cancel .lk-no-button button { margin: 5px!important;}
    #job_details .lk-drop button, #job_details .lk-Affiliate h1 {font-size: 11px!important;}
    #jobs-md .job-list .head p, #jobs-md .lk-jobs p {
        margin: 0px auto;
        border-bottom: 1px solid #f3f3f3!important;
        padding: 10px 0;
        display: block;
        text-align: center;
    }
    #jobs-md .job-list .head p:last-child {border: none;}
    #jobs-md .job-list {height: auto;}
    .right-blue li {
        list-style: none!important;
        font-weight: 100;
        margin: 15px 0;
    }


}


@media only screen and (max-width: 823px) {
    .lk-bg-box {
        height: auto !important;
    }
    .lk-box {
        width: 100% !important;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 {
        text-align: -webkit-center;
    }
    .lk-box-2 {
        width: 100%;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 h4 {
        font-size: 24PX;
        position: relative;
        /*left: 30%;*/
        top: 11px;
    }
    .trust {
        padding-bottom: 4%;
        width: 100%;
    }
    .lk-linner {
        width: 91%;
        margin: 0 auto;
    }
    .lk-text .my-lk-a h6::before {
        left: 99px;
        width: 46px;
        background-color: none;
    }
    .lk-text .my-lk-b h6::before {
        left: 99px;
        width: 46px;
        background-color: #3cc0fb;
    }
    .lk-text .my-lk-c h6::before {
        width: 46px;
        left: 99px;
        background-color: none;
    }
    .form-signin {
        text-align: center;
        margin-bottom: 70px;
        margin-top: 10px 0 50px 0px !important;
    }
    .form-signin ul {
        display: contents;
    }
    .form-signin li {
        margin: 0px 32px 19px 25px;
    }
    .lk-img {
        /* height: 740px !important; */
    }
    .form-work li {
        margin-left: 15%;
    }
    .form-work ul {
        display: contents;
    }
}
@media only screen and (min-width: 375px) and (max-width: 812px) {
    .lk-box {
        width: 100% !important;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 {
        text-align: -webkit-center;
        height: auto;
    }
    .lk-box-2 {
        width: 100%;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 h4 {
        font-size: 24PX;
        position: relative;
        /*left: 30%;*/
        top: 22px !important;
    }
    .trust {
        padding-bottom: 4%;
        width: 100%;
    }
    .lk-linner {
        width: 91%;
        margin-top: 7% !important;
        margin: 0 auto;
    }
    .lk-text .my-lk-a h6::before {
        left: 99px;
        width: 46px;
        background-color: none;
    }
    .lk-text .my-lk-b h6::before {
        left: 88px;
        width: 46px;
        background-color: #3cc0fb;
    }
    .lk-text .my-lk-c h6::before {
        width: 46px;
        left: 99px;
        background-color: none;
    }
    /* .form-signin {
        height: 354px;
        width: 310px !important;
        text-align: center;
        margin-left: 0% !important;
    } */
    .form-signin ul {
        display: contents;
    }
    .form-signin li {
        margin: 0px 32px 19px 25px;
    }
    .lk-img {
        /* height: 640px !important; */
    }
    .form-work li {
        margin-left: 15%;
    }
    .form-work ul {
        display: contents;
    }
    .lk-button {
        width: 100%;
        background-color: transparent;
        border-radius: 0px;
        margin: 0 auto;
        height: 100px;
    }
    .tab-content {
        margin: 0 10px;
    }
    .lk-lorem p {
        width: 110%;
    }
    .bg-box p {
        margin-top: 38% !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .lk-box {
        width: 40% !important;
        margin: 0 auto;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 {
        text-align: -webkit-center;
    }
    .lk-box-2 {
        width: 40%;
        margin: 0 auto;
        margin-right: 8%;
        /*margin-right: -5%;*/
    }
    .lk-imge-3 h4 {
        font-size: 24PX;
        /* position: relative; */
    }
    .trust {
        padding-bottom: 4%;
        width: 100%;
    }
    .lk-imge-2 {
        background-position: unset;
    }
    .lk-linner {
        width: 71%;
        margin: 0 auto;
    }
    .lk-text .my-lk-a h6::before {
        left: 53px;
        width: 46px;
    }
    .lk-text .my-lk-b h6::before {
        left: 50px;
        width: 46px;
        background-color: #ffffff;
    }
    .lk-text .my-lk-c h6::before {
        width: 46px;
        left: 46px;
        background-color: none;
    }
    .form-signin {
        height: 269px;
        width: 630px !important;
        text-align: center;
    }
    .form-signin ul {
        display: contents;
    }
    .form-signin li {
        margin: 0px 22px 19px 25px;
    }
    .form-work li {
        margin-left: 0%;
    }
    .form-work ul {
        margin-left: 5%;
        display: flex;
    }
    .lk-imge-2 {
        height: 450px;
    }
    /* .lk-img {
        height: 580px !important;
    } */
}

@media only screen and (max-width: 360px) {
    #dashbaord-tabs ul#myTabMD li {
        margin: 10px;
        width: 103.6px!important;
    }
}



.btn-light {
    border-radius: 29px;
    color: #afa9a9;
    font-size: 17px;
    padding: 7px 25px;
}
.blue-footer {
    background-color: #26B8FF !important;
}
.blue-footer p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: HelveticaNeueThin;
    font-size: 1.1em;
    letter-spacing: 0.04em;
}
.blue-footer button.black-btn {
    color: #000;
    font-size: 15px;
    letter-spacing: 0.03em;
    padding: 10px 30px;
    border: 0px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.border-bottom {
    border-bottom: 1px solid #fff;
}
@media (max-width: 750px) {
    .w-100 {
        margin: 0 auto;
    }
    .lk-button li {
        width: auto;
    }
    .ml-auto,
    .mx-auto {
        margin-left: inherit !important;
    }
    .sidebar-nav {
        list-style: none;
        margin: 0 auto;
        display: table;
        padding: 0px;
    }
    .lk-bg-box p {
        width: 100%;
    }
    .lk-bg-box {
        height: auto;
    }
    #myTab {
        background-color: transparent !important;
    }
    .lk-button {
        background-color: transparent;
    }
    .form-control-lg {
        height: auto;
        padding: .5rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .3rem;
        font-weight: 100 !important;
    }
    .tab-content {
        margin: 0 10px;
    }
    .lk-type {
        margin-bottom: 10px;
    }
    .footers .nav-link {
        color: #fff;
        padding: 10px 14px;
        display: inline-block;
    }
    .lk-img {
        background-image: url(../image/bg-home.hero.png);
        background-size: cover;
        background-position: 0 100%;
    }
    .blue-footer {
        background-color: #26B8FF !important;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .res {
        margin: 0 auto;
    }
    .lk-imge-2 {
        height: auto;
    }
    .lk-imge-2 {
        background-image: url(../image/bg-home.section-3.png);
        background-size: cover;
        background-position: 13% 74%;
    }
    .form-work {
        left: 0;
    }
    .lk-img-booking {
        height: auto !important;
    }
    .lk-qualified .inner {
        border-right: none;
        margin: 10px 0;
    }
    .lk-imge-3 .justify-content-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
        flex-direction: column;
    }
    .lk-imge-3 {
        padding: 0%;
    }
}
